@import url(~@stackoverflow/stacks/dist/css/stacks.css);

/* purgecss start ignore */
.browser-image {
    background-position: center;
    background-size: contain;
}

.browser-image.edge {
    background-image: url("~@browser-logos/edge/edge_32x32.png");
}

.browser-image.chrome {
    background-image: url("~@browser-logos/chrome/chrome_32x32.png");
}

.browser-image.firefox {
    background-image: url("~@browser-logos/firefox/firefox_32x32.png");
}

.browser-image.safari {
    background-image: url("~@browser-logos/safari/safari_32x32.png");
}

.browser-image.safari-ios {
    background-image: url("~@browser-logos/safari-ios/safari-ios_32x32.png");
}

.browser-image.opera {
    background-image: url("~@browser-logos/opera/opera_32x32.png");
}

.browser-image.android {
    background-image: url("~@browser-logos/android/android_32x32.png");
}
/* purgecss end ignore */