.browser-image {
    background-position: center;
    background-size: contain;
}

.browser-image.internet-explorer {
    background-image: url("~@browser-logos/internet-explorer_9-11/internet-explorer_9-11.png");
}

.browser-image.edge {
    background-image: url("~@browser-logos/edge/edge.png");
}

.browser-image.edge-legacy {
    background-image: url("~@browser-logos/edge_12-18/edge_12-18.png");
}

.browser-image.chrome {
    background-image: url("~@browser-logos/chrome/chrome.png");
}

.browser-image.firefox {
    background-image: url("~@browser-logos/firefox/firefox.png");
}

.browser-image.safari {
    background-image: url("~@browser-logos/safari/safari.png");
}

.browser-image.safari-ios {
    background-image: url("~@browser-logos/safari-ios/safari-ios.png");
}

.browser-image.opera {
    background-image: url("~@browser-logos/opera/opera.png");
}

.browser-image.android {
    background-image: url("~@browser-logos/android/android.png");
}

.browser-image.uc {
    background-image: url("~@browser-logos/uc/uc.png");
}

.browser-image.samsung {
    background-image: url("~@browser-logos/samsung-internet/samsung-internet.png");
}
